name: build

on:
  push:
    paths-ignore:
      - "README.md"
      - "docs/**"

  pull_request:
    paths-ignore:
      - "README.md"
      - "docs/*"

jobs:
  build_cpu:
    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: [3.7, 3.8]
        torch: [1.6.0, 1.7.0, 1.8.0, 1.9.0]
        include:
          - torch: 1.6.0
            torchvision: 0.7.0
          - torch: 1.7.0
            torchvision: 0.8.1
          - torch: 1.8.0
            torchvision: 0.9.0
          - torch: 1.9.0
            torchvision: 0.10.0
          - torch: 1.8.0
            torchvision: 0.9.0
            python-version: 3.9
          - torch: 1.9.0
            torchvision: 0.10.0
            python-version: 3.8
          - torch: 1.9.0
            torchvision: 0.10.0
            python-version: 3.9
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        # See: https://github.com/marketplace/actions/setup-conda
      - name: Setup anaconda
        uses: s-weigand/setup-conda@v1
        with:
          python-version: ${{ matrix.python-version }}
          conda-channels: "conda-forge, salilab"

      #- name: Set up Python ${{ matrix.python-version }}
      #  uses: actions/setup-python@v2
      #  with:
      #python-version: ${{ matrix.python-version }}
      - name: Setup conda environment
        run: conda env create -n graphein-dev python=${{ matrix.python-version }}
      - name: Activate Conda Environment
        run: source activate graphein-dev
      - name: Install DSSP
        run: conda install -c salilab dssp
      - name: Install PyTorch
        run: pip install torch==${{matrix.torch}}+cpu torchvision==${{matrix.torchvision}}+cpu -f https://download.pytorch.org/whl/torch_stable.html
      - name: Install Graphein
        run: pip install -e .
      - name: Install Dev Dependencies
        run: pip install -r .requirements/dev.in
      - name: Run unit tests and generate coverage report
        run: pytest .
      - name: Test notebook execution
        run: pytest --nbval-lax notebooks/ --current-env
