name: Code tests (docker)

on: [pull_request]

jobs:
  code-tests-docker:
    name: Run code tests (docker)
    runs-on: "ubuntu-latest"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      # See: https://github.com/marketplace/actions/setup-conda
      - name: Setup anaconda
        uses: s-weigand/setup-conda@v1
        with:
          python-version: 3.8
          conda-channels: "conda-forge"

      # # Build cache of environment
      # - name: Cache conda environment
      #   id: cache-environment
      #   uses: actions/cache@v2
      #   # Conda environment build step depends on two files,
      #   # so we ensure that the hash key contains both their hashes.
      #   with:
      #     path: |
      #       /usr/share/miniconda/envs/graphein-dev/
      #     key: ${{ runner.os }}-env.${{ hashFiles('environment-dev.yml') }}

      - name: Build Docker container
        # if: steps.cache-environment.outputs.cache-hit != 'true'
        run: |
          docker-compose -f docker-compose.cpu.yml up -d --build

      - name: Install Graphein (Docker)
        run: |
          docker exec $(docker ps -q) bash -c 'pip install -e .'

      - name: Run tests (Docker)
        run: |
          docker exec $(docker ps -q) bash -c 'pytest .'

      - name: Run example notebooks (Docker)
        run: |
          docker exec $(docker ps -q) bash -c 'grep -l smoke_test notebooks/*.ipynb | pytest --nbval-lax --current-env'

      - name: Upload code coverage
        run: |
          bash <(curl -s https://codecov.io/bash)
