name: Code tests (docker)

on:
  pull_request:
    paths-ignore:
      - "README.md"
      - "CHANGELOG.md"
      - "CONTRIBUTORS.md"
      - "CONTRIBUTING.md"
      - "docs/**"

jobs:
  code-tests-docker:
    name: Run code tests (docker)
    runs-on: "ubuntu-latest"
    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      # See: https://github.com/marketplace/actions/setup-miniconda
      - name: Setup micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          micromamba-version: "latest"
          environment-name: test_env
          init-shell: bash
          create-args: python=3.11
          #cache-environment: true
          #cache-environment-key: environment-${{ steps.date.outputs.date }}
          #cache-downloads-key: downloads-${{ steps.date.outputs.date }}
          post-cleanup: "all"

      # # Build cache of environment
      # - name: Cache conda environment
      #   id: cache-environment
      #   uses: actions/cache@v2
      #   # Conda environment build step depends on two files,
      #   # so we ensure that the hash key contains both their hashes.
      #   with:
      #     path: |
      #       /usr/share/miniconda/envs/graphein-dev/
      #     key: ${{ runner.os }}-env.${{ hashFiles('environment-dev.yml') }}

      - name: Build Docker container
        # if: steps.cache-environment.outputs.cache-hit != 'true'
        run: |
          docker compose -f docker-compose.cpu.yml up -d --build

      - name: Install Graphein (Docker)
        run: |
          docker exec $(docker ps -q) bash -c 'pip install -e .'

      - name: Run tests (Docker)
        run: |
          docker exec $(docker ps -q) bash -c 'pytest .'

      - name: Run example notebooks (Docker)
        run: |
          docker exec $(docker ps -q) bash -c 'grep -l smoke_test notebooks/*.ipynb | pytest --nbval-lax --nbval-current-env'

      - name: Upload code coverage
        run: |
          bash <(curl -s https://codecov.io/bash)
